body{
   background-color: aqua;

}
header{
    color: black;
    font-style: italic;
    font-size: large;
    text-shadow: 2px 5px 2px white;
    text-align: center;
    border-style: solid;
    border-width: 8px;
    margin: 8%;
    border-radius: 50%;
    box-shadow: 2px 5px 2px white;
}
strong {
    text-decoration: underline red;
}
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
}
